schemas/Friend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Types.xsd"/>

  <xs:element name="Friend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="identity" />
        <xs:element name="Name" type="requaredString" />
        <xs:element name="Url" type="requaredUri" />
        <xs:element name="Description" type="requaredString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>