schemas/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="requaredString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="identity">
    <xs:restriction base="requaredString">
      <xs:pattern value="[A-Z][\w-]{2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="requaredUri">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="https?://.+"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>